#container {
    height: 600px; 
    width: 600px;
    display: grid;
    margin: auto;
}

#container div {
    border: 1px solid black;
    aspect-ratio: 1;
}

.div {
    background-color: rgb(255, 255, 255);
}

.black {
    background-color: black;
}

#title {
    text-align: center;
    font-size: 48pt;
    font-family: "Lucida Handwriting", cursive;
    color: white;
}

.btn {
    background-color: white;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
    gap: 8px;
}

#buttons button {
    font-size: 12pt;
    font-family: "Lucida Handwriting", cursive;
    padding: 12px 16px;
    border: none;
    border-radius: 20pt;
    cursor: pointer;
}

body {
    margin: 48px;
    background-color: grey;
}

#white {
    background-color: white;
    height: 600px; 
    width: 600px;
    display: grid;
    margin: auto;
}

#red {
    background-color: red;
    border-radius: 50px;
    height: 930px; 
    width: 800px;
    display: grid;
    margin: auto;
    filter: drop-shadow(10px 10px 20px black);
}



#greyscale.active {
    background-color: grey;
    color: white;
}

#colorpicker {
    z-index: 1;
    position: relative;
}

#colordiv {
    display: inline;
}