:root {
  --border-grey: rgba(191, 191, 191, 0.25);
  --primary-red: #f44336;
}

@font-face {
  font-family: figtree;
  src: url("./figtree.ttf");
}

#container {
  height: 600px;
  width: 600px;
  display: grid;
  cursor: url("images/pencil.png"), auto;
}

#container div {
  border: 1px solid var(--border-grey);
  aspect-ratio: 1;
}

.div {
  background-color: rgb(255, 255, 255);
}

.black {
  background-color: black;
}

#title {
  text-align: center;
  font-size: 36pt;
  font-family: figtree;
  color: white;
  margin-top: 24px;
  margin-bottom: -24px;
}

.btn {
  background-color: white;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -24px 24px -18px 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 12px;
  flex-wrap: wrap;
}

#buttons button {
  font-size: 12pt;
  font-family: figtree;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
}

body {
  margin: 24px;
  background-color: #ffffff;
}

#white {
  background-color: white;
  height: 600px;
  width: 600px;
  display: grid;
  margin: 18px auto;
  border: 1px solid var(--border-grey);
}

#red {
  background-color: var(--primary-red);
  height: fit-content;
  min-width: auto;
  max-width: fit-content;
  gap: 24px;
  display: grid;
  margin: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#shading.active {
  background-color: grey;
  color: white;
}

#colorpicker {
  cursor: pointer;
}

#colordiv {
  display: inline;
}

#number {
  font-size: 12pt;
  font-family: figtree;
}

#alert {
  font-size: 16pt;
  font-family: figtree;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

#colorchoice {
  position: relative;
  padding: 12px 16px;
}

#colorpicker-label {
  font-size: 12pt;
  font-family: figtree;
  border: none;
  cursor: pointer;
}

#colorpicker {
  visibility: hidden;
  position: absolute;
  top: -12px;
  left: 0;
}

#buttons input {
  border: none;
}

#buttons input[type="color"] {
  padding: 0;
  border: none;
}

#buttons input[type="number"] {
  padding: 12px 16px;
}

@media (max-width: 769px) {
  #container,
  #white {
    height: 340px;
    width: 340px;
  }
  #title {
    font-size: 24pt;
  }
  body {
    margin: 24px;
  }
  #alert {
    font-size: 10pt;
  }
  #buttons button {
    font-size: 10pt;
  }
}

@media (max-width: 440px) {
  #container,
  #white {
    height: 280px;
    width: 280px;
  }
}
